repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.68.1 # Get the latest from: https://github.com/antonbabenko/pre-commit-terraform/releases
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
        args: ['--args=--lockfile=false', '--args=--indent=3']
      - id: terraform_tflint
        args: [
          # --args=--module, # TODO enable it after ensuring `terraform init`
          # --args=--only=terraform_comment_syntax,
          --args=--only=terraform_deprecated_interpolation,
          # --args=--only=terraform_deprecated_index,
          # --args=--only=terraform_documented_variables,
          --args=--only=terraform_module_pinned_source,
          --args=--only=terraform_naming_convention,
          --args=--only=terraform_required_providers,
          --args=--only=terraform_required_version,
          # --args=--only=terraform_unused_declarations,
          --args=--only=terraform_workspace_remote,
        ]
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '2.3.321'
    hooks:
    - id: checkov
      verbose: true
      args: [
        --compact,
        --quiet,
        --soft-fail,
        --skip-check, "CKV_AWS_150,CKV_AWS_18,CKV_AWS_144,CKV2_AWS_19,CKV_AWS_272,CKV_AWS_116,CKV2_AWS_11,CKV2_AWS_28,CKV_AWS_173,CKV2_AWS_5,CKV2_AWS_12,CKV2_AWS_1,CKV_AWS_2,CKV_AWS_126,CKV_AWS_103,CKV_AWS_123",
        --soft-fail-on, "CKV_AWS_186,CKV_AWS_145,CKV_AWS_3",
      ]