type=dhcp-client%{ if hostname != null }
hostname=${hostname}%{ endif }%{ if panorama-server != null }
panorama-server=${panorama-server}%{ endif }%{ if panorama-server-2 != null }
panorama-server-2=${panorama-server-2}%{ endif }%{ if tplname != null }
tplname=${tplname}%{ endif }%{ if dgname != null }
dgname=${dgname}%{ endif }%{ if vm-auth-key != null }
vm-auth-key=${vm-auth-key}%{ endif }%{ if plugin-op-commands != null }
plugin-op-commands=${plugin-op-commands}%{ endif }%{ if op-command-modes != null }
op-command-modes=${op-command-modes}%{ endif }
dhcp-send-hostname=${dhcp-send-hostname}
dhcp-send-client-id=${dhcp-send-client-id}
dhcp-accept-server-hostname=${dhcp-accept-server-hostname}
dhcp-accept-server-domain=${dhcp-accept-server-domain}