name: Release CI
run-name: "Continous Release"

permissions:
  contents: write
  issues: read
  id-token: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * 4' # this means every Thursday @1am UTC

jobs:
  release_wrkflw:
    name: Do release
    uses: PaloAltoNetworks/terraform-modules-vmseries-ci-workflows/.github/workflows/release_ci.yml@v1
    if: github.actor != 'dependabot[bot]'
    secrets: inherit
    with:
      cloud: aws
      max_parallel: 10
      tf_version: 1.2 1.3 1.4 1.5
      do_apply: false # Temporary we don't deploy examples by setting this on `true` until we decide if we need on release deploy every example using every Terraform version
      fail_fast: false
      apply_timeout: 120
